h1{
  color: orange;
  font-family: 'Amatic SC', cursive;
  font-style: italic;
  text-transform: capitalize;
}

img{
  width: 20%;
}

h2{
  font-size: 60px;
  color: red;
  font-family: 'Amatic SC', cursive;
  text-transform: capitalize;
}

body{
  background-color: #ffffff;
}

p{
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}